In [509]:
import pandas as pd

## Asking questions

In [510]:
# Top 10 sales operations.
# Average of sales for every Region.
# Average of sales for every product.
# Average of price per unit for every product.
# Count of each Product. --- IGNORE ---
# Max of price per unit for every product.
# Min of price per unit for every product.
# Mean of sales
# Mean of price for each unit of product in each region.
# What is the top Product with total sales.
# What is the last Product with total sales.
# Which Sales Method is the most ?
# Which Sales Method is the most at every region ?
# How much products at every year?
# What about Sales over years?
# What about Sales over months?
# Which Retailer is the most ?

In [511]:
data = pd.read_csv('../../Data/data_sales.csv')
df = pd.DataFrame(data)
df.head(5)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Walmart,1128299,6/17/2021,Southeast,Florida,Orlando,Women's Apparel,$103.00,218,"2,245","$1,257",Online
1,West Gear,1128299,7/16/2021,South,Louisiana,New Orleans,Women's Apparel,$103.00,163,"1,679",$806,Online
2,Sports Direct,1197831,8/25/2021,South,Alabama,Birmingham,Men's Street Footwear,$10.00,700,"7,000","$3,150",Outlet
3,Sports Direct,1197831,8/27/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,575,"8,625","$3,881",Outlet
4,Sports Direct,1197831,8/21/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,475,"7,125","$3,206",Outlet

In [512]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9641 entries, 0 to 9640
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9641 non-null   object
 1   Retailer ID       9641 non-null   int64
 2   Invoice Date      9641 non-null   object
 3   Region            9641 non-null   object
 4   State             9641 non-null   object
 5   City              9641 non-null   object
 6   Product           9641 non-null   object
 7   Price per Unit    9639 non-null   object
 8   Units Sold        9641 non-null   object
 9   Total Sales       9641 non-null   object
 10  Operating Profit  9641 non-null   object
 11  Sales Method      9641 non-null   object
dtypes: int64(1), object(11)
memory usage: 904.0+ KB

### Cleaning Data
---

In [513]:
df['Invoice Date'] = pd.to_datetime(df['Invoice Date'])
df['Price per Unit'] =df['Price per Unit'].str.replace('$','').astype(float)
df['Units Sold'] = pd.to_numeric(df['Units Sold'], errors='coerce')
df['Total Sales'] =df['Total Sales'].str.replace(',','').astype(float)
df['Operating Profit'] =df['Operating Profit'].str.replace('$','').str.replace(',','').astype(float)


df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9641 entries, 0 to 9640
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9641 non-null   object
 1   Retailer ID       9641 non-null   int64
 2   Invoice Date      9641 non-null   datetime64[ns]
 3   Region            9641 non-null   object
 4   State             9641 non-null   object
 5   City              9641 non-null   object
 6   Product           9641 non-null   object
 7   Price per Unit    9639 non-null   float64
 8   Units Sold        9588 non-null   float64
 9   Total Sales       9641 non-null   float64
 10  Operating Profit  9641 non-null   float64
 11  Sales Method      9641 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(6)
memory usage: 904.0+ KB

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Walmart,1128299,2021-06-17,Southeast,Florida,Orlando,Women's Apparel,103.0,218.0,2245.0,1257.0,Online
1,West Gear,1128299,2021-07-16,South,Louisiana,New Orleans,Women's Apparel,103.0,163.0,1679.0,806.0,Online
2,Sports Direct,1197831,2021-08-25,South,Alabama,Birmingham,Men's Street Footwear,10.0,700.0,7000.0,3150.0,Outlet
3,Sports Direct,1197831,2021-08-27,South,Alabama,Birmingham,Women's Street Footwear,15.0,575.0,8625.0,3881.0,Outlet
4,Sports Direct,1197831,2021-08-21,South,Alabama,Birmingham,Women's Street Footwear,15.0,475.0,7125.0,3206.0,Outlet

In [514]:
df['year'] = df['Invoice Date'].dt.year
df['month'] = df['Invoice Date'].dt.month
df['day'] = df['Invoice Date'].dt.day
df.drop('Invoice Date', axis=1, inplace=True)
df['year'].unique()

array([2021, 2020], dtype=int32)

In [515]:
df['order_ID'] = range(1, len(df) + 1)

In [516]:
df.isna().sum()

Retailer             0
Retailer ID          0
Region               0
State                0
City                 0
Product              0
Price per Unit       2
Units Sold          53
Total Sales          0
Operating Profit     0
Sales Method         0
year                 0
month                0
day                  0
order_ID             0
dtype: int64

In [517]:
df[df['Units Sold'].isna()].head(5)

,Retailer,Retailer ID,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method,year,month,day,order_ID
6534,Foot Locker,1185732,Northeast,New York,New York,Men's Street Footwear,60.0,NaN,76500.0,38250.0,Outlet,2020,3,10,6535
6535,Foot Locker,1185732,Northeast,New York,New York,Men's Street Footwear,60.0,NaN,75000.0,37500.0,Outlet,2020,3,4,6536
6536,Foot Locker,1185732,Northeast,New York,New York,Men's Street Footwear,60.0,NaN,75000.0,37500.0,Outlet,2020,3,16,6537
6537,Foot Locker,1185732,Northeast,New York,New York,Men's Street Footwear,60.0,NaN,73200.0,36600.0,Outlet,2020,2,6,6538
6538,Walmart,1185732,Northeast,New York,New York,Men's Street Footwear,60.0,NaN,72000.0,36000.0,Outlet,2020,4,19,6539

In [518]:
df['Units Sold'].fillna(df['Total Sales']/df['Price per Unit'], inplace=True)
df[df['order_ID'] == 6535]

/var/folders/qh/4z_7kwfn395g3wdjj2kzwm600000gn/T/ipykernel_72221/2130179621.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Units Sold'].fillna(df['Total Sales']/df['Price per Unit'], inplace=True)

,Retailer,Retailer ID,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method,year,month,day,order_ID
6534,Foot Locker,1185732,Northeast,New York,New York,Men's Street Footwear,60.0,1275.0,76500.0,38250.0,Outlet,2020,3,10,6535

In [519]:
df[df['Price per Unit'].isna()]

,Retailer,Retailer ID,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method,year,month,day,order_ID
6725,Foot Locker,1185732,Northeast,New York,New York,Men's Apparel,NaN,850.0,51000.0,15300.0,Outlet,2020,1,29,6726
7882,Sports Direct,1197831,South,Texas,Houston,Men's Apparel,NaN,500.0,20000.0,6000.0,Outlet,2020,7,29,7883

In [520]:
df['Price per Unit'].fillna(df['Total Sales']/df['Units Sold'], inplace=True)
df[df['order_ID'] == 6726]

/var/folders/qh/4z_7kwfn395g3wdjj2kzwm600000gn/T/ipykernel_72221/1342037944.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price per Unit'].fillna(df['Total Sales']/df['Units Sold'], inplace=True)

,Retailer,Retailer ID,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method,year,month,day,order_ID
6725,Foot Locker,1185732,Northeast,New York,New York,Men's Apparel,60.0,850.0,51000.0,15300.0,Outlet,2020,1,29,6726

In [521]:
df.isna().sum()

Retailer            0
Retailer ID         0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Sales Method        0
year                0
month               0
day                 0
order_ID            0
dtype: int64

##### Cleaning Data is done <3!
---
---
### Questions answers
---

In [522]:
# Top 10 sales operations.
df.sort_values(by='Total Sales', ascending=False).head(10)

,Retailer,Retailer ID,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method,year,month,day,order_ID
6533,Walmart,1128299,Southeast,Florida,Orlando,Women's Apparel,110.0,750.0,82500.0,37125.0,In-store,2021,6,17,6534
6553,West Gear,1128299,South,Louisiana,New Orleans,Women's Apparel,110.0,750.0,82500.0,28875.0,Online,2021,6,17,6554
6691,Walmart,1128299,Southeast,Florida,Orlando,Men's Street Footwear,90.0,900.0,81000.0,24300.0,In-store,2021,7,16,6692
6550,West Gear,1128299,South,Louisiana,New Orleans,Men's Street Footwear,90.0,900.0,81000.0,32400.0,Online,2021,7,16,6551
6754,West Gear,1128299,South,Louisiana,New Orleans,Men's Street Footwear,95.0,850.0,80750.0,32300.0,Online,2021,8,17,6755
6745,Walmart,1128299,Southeast,Florida,Orlando,Men's Street Footwear,95.0,850.0,80750.0,24225.0,In-store,2021,8,17,6746
6539,Walmart,1185732,Northeast,New York,New York,Men's Street Footwear,65.0,1200.0,78000.0,39000.0,Outlet,2020,5,3,6540
6534,Foot Locker,1185732,Northeast,New York,New York,Men's Street Footwear,60.0,1275.0,76500.0,38250.0,Outlet,2020,3,10,6535
6545,Foot Locker,1185732,Southeast,South Carolina,Charleston,Men's Street Footwear,70.0,1075.0,75250.0,33863.0,Online,2021,12,5,6546
6535,Foot Locker,1185732,Northeast,New York,New York,Men's Street Footwear,60.0,1250.0,75000.0,37500.0,Outlet,2020,3,4,6536

In [523]:
# Average of sales for every Region.
df.groupby('Region')['Total Sales'].mean()

Region
Midwest       7255.254147
Northeast     7841.955808
South         8347.471611
Southeast    13331.001634
West         10998.621423
Name: Total Sales, dtype: float64

In [524]:
# Average of sales for every product.
df.groupby('Product')['Total Sales'].mean()

Product
Men's Apparel                 7657.827307
Men's Athletic Footwear       9528.861940
Men's Street Footwear        12970.601863
Men's aparel                 54000.000000
Women's Apparel              11106.353454
Women's Athletic Footwear     6641.267913
Women's Street Footwear       7951.860523
Name: Total Sales, dtype: float64

In [525]:
# Average of price per unit for every product.

df.groupby('Product')['Price per Unit'].mean()

Product
Men's Apparel                50.306733
Men's Athletic Footwear      43.777985
Men's Street Footwear        44.236646
Men's aparel                 60.000000
Women's Apparel              51.583074
Women's Athletic Footwear    41.113396
Women's Street Footwear      40.255915
Name: Price per Unit, dtype: float64

In [526]:
# Max of price per unit for every product.
df.groupby('Product')['Price per Unit'].max()

Product
Men's Apparel                 95.0
Men's Athletic Footwear       95.0
Men's Street Footwear         95.0
Men's aparel                  60.0
Women's Apparel              110.0
Women's Athletic Footwear     90.0
Women's Street Footwear       95.0
Name: Price per Unit, dtype: float64

In [527]:
# min of price per unit for every product.
df.groupby('Product')['Price per Unit'].min()

Product
Men's Apparel                16.0
Men's Athletic Footwear      11.0
Men's Street Footwear         7.0
Men's aparel                 60.0
Women's Apparel              14.0
Women's Athletic Footwear     7.0
Women's Street Footwear       7.0
Name: Price per Unit, dtype: float64

In [528]:
# Mean of sales
Mean_of_price = df['Total Sales'].mean()
Mean_of_price

np.float64(9316.467897521004)

In [529]:
# Mean of price for each unit of product in each region.
df.groupby(['Region','Product'])['Price per Unit'].mean()

Region     Product
Midwest    Men's Apparel                47.144231
           Men's Athletic Footwear      38.099678
           Men's Street Footwear        41.810897
           Women's Apparel              47.455128
           Women's Athletic Footwear    34.527331
           Women's Street Footwear      33.057878
Northeast  Men's Apparel                52.450633
           Men's Athletic Footwear      44.941919
           Men's Street Footwear        48.727273
           Men's aparel                 60.000000
           Women's Apparel              52.388889
           Women's Athletic Footwear    41.492424
           Women's Street Footwear      40.128788
South      Men's Apparel                42.798611
           Men's Athletic Footwear      36.578397
           Men's Street Footwear        35.263889
           Women's Apparel              43.538194
           Women's Athletic Footwear    36.635417
           Women's Street Footwear      34.592334
Southeast  Men's Apparel                55.392157
           Men's Athletic Footwear      48.779412
           Men's Street Footwear        48.573529
           Women's Apparel              57.264706
           Women's Athletic Footwear    46.000000
           Women's Street Footwear      45.088235
West       Men's Apparel                53.429630
           Men's Athletic Footwear      49.512195
           Men's Street Footwear        45.890244
           Women's Apparel              56.808354
           Women's Athletic Footwear    46.509852
           Women's Street Footwear      47.433824
Name: Price per Unit, dtype: float64

In [530]:
# What is the top Product with total sales.
df.groupby('Product')['Total Sales'].sum().sort_values(ascending=False).head(1)

Product
Men's Street Footwear    20882669.0
Name: Total Sales, dtype: float64

In [531]:
# What is the last Product with total sales.

df.groupby('Product')['Total Sales'].sum().sort_values(ascending=True).head(1)

Product
Men's aparel    54000.0
Name: Total Sales, dtype: float64

In [532]:
# Which Sales Method is the most ?
df['Sales Method'].value_counts().sort_values(ascending=False).head(1)

Sales Method
Online    4889
Name: count, dtype: int64

In [533]:
# Which Sales Method is the most at every region ?
df.groupby('Region')['Sales Method'].value_counts().sort_values(ascending=False).head()

Region     Sales Method
Midwest    Online          1165
West       Online          1152
Northeast  Online           936
West       Outlet           896
South      Outlet           862
Name: count, dtype: int64

In [534]:
# How much products at every year?
df.groupby('year')['Product'].nunique()

year
2020    7
2021    6
Name: Product, dtype: int64

In [535]:
# What about Sales over years?
df.groupby('year')['Total Sales'].sum()

year
2020    18093475.0
2021    71726592.0
Name: Total Sales, dtype: float64

In [536]:
# What about Sales over months?
df.groupby(['year', 'month'])['Total Sales'].sum()

year  month
2020  1        1625381.0
      2        1499801.0
      3        1766062.0
      4        2460705.0
      5        1691806.0
      6         882984.0
      7        1690979.0
      8        1952802.0
      9        1830446.0
      10       1083626.0
      11        862229.0
      12        746654.0
2021  1        5486806.0
      2        4610236.0
      3        3914875.0
      4        4773312.0
      5        6358982.0
      6        6571772.0
      7        7833488.0
      8        7228833.0
      9        5935718.0
      10       5307491.0
      11       5923515.0
      12       7781564.0
Name: Total Sales, dtype: float64

In [537]:
# Which Retailer is the most ?
df['Retailer'].value_counts().head(1)

Retailer
Foot Locker    2634
Name: count, dtype: int64