In [2]:
import numpy as np
import pandas as pd

In [3]:
companies = {
    'name' : ['Humain', 'OpenAI', 'Anthropic', 'Alibaba Cloud'],
    'models' : ['Allam', ['GPT-4','GPT-5'], 'Claude', 'Tongyi Qianwen'],
    'founded' : [2024, 2015, 2021, 2009],
    'headquarters' : ['Riyadh', 'San Francisco', 'San Francisco', 'Hangzhou']
}

In [4]:
pd.DataFrame(companies)

            name          models  founded   headquarters
0         Humain           Allam     2024         Riyadh
1         OpenAI  [GPT-4, GPT-5]     2015  San Francisco
2      Anthropic          Claude     2021  San Francisco
3  Alibaba Cloud  Tongyi Qianwen     2009       Hangzhou

In [16]:
model = pd.Series(data=companies['models'],index=companies['name'])
founded = pd.Series(data=companies['founded'],index=companies['name'])

In [17]:
founded['Humain']

np.int64(2024)

In [19]:
model['Anthropic']

'Claude'

In [22]:
companiesSeries = pd.Series(companies)

In [24]:
companiesSeries

name                  [Humain, OpenAI, Anthropic, Alibaba Cloud]
models           [Allam, [GPT-4, GPT-5], Claude, Tongyi Qianwen]
founded                                 [2024, 2015, 2021, 2009]
headquarters    [Riyadh, San Francisco, San Francisco, Hangzhou]
dtype: object

In [25]:
companiesSeries['models']

['Allam', ['GPT-4', 'GPT-5'], 'Claude', 'Tongyi Qianwen']